<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">

<section layout:fragment="Conteudo">

	
	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 class="panel-title">Lista de convidados</h1>
		</div>
		<div class="panel-body">
			<form class="form-inline" method="POST" th:object="${convidado}"
			      th:action="@{/convidados}"  style="margin: 20px 0">
			      <div class="form-group">
			      	<input type="hidden" th:field="*{id}" />
			      	<input type="text" th:field="*{nome}" class="form-control" placeholder="Nome" />
			      	<input type="text" th:field="*{qtde}" class="form-control" placeholder="Quantidade" />
			      	<select th:field="*{festa}">
						<option value="">Selecione a festa</option>
						<option th:each="f : ${festas}" th:value="${f.id}" th:text="${f.nome}" selected="selected"></option>
					</select>
					<button type="submit" class="btn btn-primary">Salvar</button>
			      </div>
			 </form>

			
			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>Nome</th>
						<th>Acompanhantes</th>
						<th>Festa</th>
						<th>Ação</th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="c : ${convidados}">
						<td th:text="${c.id}">João</td>
						<td th:text="${c.nome}">João</td>
						<td th:text="${c.qtde}">3</td>
						<td th:text="${c.festa.nome}"></td>
						<td>
							<a th:href="@{/convidados/alterar/}+${c.id}" 
						    class="glyphicon glyphicon-pencil">
							</a>
							<a class="btn btn-link btn-xs" data-toggle="modal" data-target="#confirmacaoExclusaoModal"
		   								th:attr="data-id=${c.id}, data-name=${c.nome}, data-model='convidado' "
		   								title="Excluir" rel="tooltip" data-placement="top">
		   							<span class="glyphicon glyphicon-remove"></span>
		   					</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div  th:replace="fragments/exclusao :: exclusao"> </div>
	
</section>


</html>
